<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Secret</title>
</head>
<body>
    <h1>Secret Page!</h1>

    <h2>You are logged in as "<%= username %>".</h2>

    <form action="/" method="GET">
        <button>Back to Home</button>
    </form>
    <form action="/logout" method="POST">
        <button>Sign Out</button>
    </form>
</body>
</html>